body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fce7f0;
}

/* Main styles */

main {
    flex: 1 0 auto;
}

.associateds {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 10vw;
    gap: 40px;
}

.associated {
    display: flex;
    padding: 30px;
    gap: 20px;
    background-color: lightpink;
    border-radius: 80px 10px 50px 10px;
    max-width: 80vw;
    min-width: 300px;
    width: 100%;
}


.associated img {
    width: 200px;
    height: auto;
    border: solid 3px lightblue;
    border-radius: 50px 10px 50px 10px;
}

.associated-name {
    font-size: 30px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.text {
    gap: 20px;
}

.associated-info {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.data label{
    color:rgb(11, 4, 46);
    font-size: 20px;
    text-decoration: underline;
}

.associated {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.associated.show {
    opacity: 1;
    transform: translateY(0);
}
