@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Pacifico&display=swap');

/* Main styles */

main {
    flex: 1 0 auto;
    overflow: hidden;
}

.welcome {
    font-family: "Concert One", sans-serif;
    margin: 40px 80px 100px 80px;
    text-align: justify;
    text-align-last: center;
}

.cases {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 50px;
    gap: 40px;
}

.case {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(193, 215, 219);
    border-radius: 110px 20px 20px 110px;
    width: 40vw;
    padding: 10px;
    gap: 10px;
    transition: all 0.2s ease-in-out 0s;
}

.case:hover {
    transform: scale(1.075);
}

.case-name {
    font-size: 25px;
    color:#2e252d;
    text-decoration: underline;
}

.case img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-color: black;
}
