
*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fce7f0;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color:#222222;
}

.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Pacifico", sans-serif;
  font-size: 60px;
  text-shadow: 0 4px 0 lightpink, 0 -4px 0 lightblue;
  box-sizing: border-box;
  animation: infinite;
  animation-name: animation;
  animation-duration: 4s;
  
}

@keyframes animation {
  0% {transform: scale(1);}
  50% {transform: scale(1.04) rotate(0.6deg);}
  100% {transform: scale(1);}
}

.subtitle {
  font-family: "Concert One", sans-serif;
  font-size: 20px;
  text-decoration: underline;
}

.text {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Concert One", sans-serif;
}